<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car Management System</title>

    <link rel="icon" th:href="@{/img/favicon.ico}"/>
    <link th:href="@{/fonts/css/fontawesome.css}" rel="stylesheet">
    <link th:href="@{/fonts/css/solid.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="outer-panel">
    <div class="inner-panel shadow">
        <h1>Enter the car details</h1>


        <div class="edit-fields">
            <form th:action="@{/cars/{id}/save(id=${car.getId()})}" th:object="${car}" method="get">
                <div class="field info"><p class="name">Mark:</p><label th:text="*{mark}"></label></div>
                <div class="field info"><p class="name">Model:</p><label th:text="*{model}"></label></div>
                <div class="field info"><p class="name">Color:</p><label th:text="*{color}"></label></div>
                <div class="buttons">

                    <div class="btn return-to-cars-btn" th:onclick="'javascript:goTo(\'/cars\');'">
                        <i class="fas fa-arrow-left"></i>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/goTo.js}"></script>

</body>
</html>