<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/fonts/css/fontawesome.css}" rel="stylesheet">
    <link th:href="@{/fonts/css/solid.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="outer-panel">
    <div class="inner-edit-panel shadow">
        <h1>Enter the car details</h1>


        <div class="edit-fields">
            <form th:action="@{/cars/{id}/save(id=${car.getId()})}" th:object="${car}" method="post">
                <div class="field"><label>Mark:</label><input th:field="*{mark}"></div>
                <div class="field"><label>Model:</label><input th:field="*{model}"></div>
                <div class="field"><label>Color:</label><input th:field="*{color}"></div>
                <div class="buttons">

                    <div class="btn car-form-btn" th:onclick="'javascript:goToCars();'">
                        <i class="fas fa-arrow-left"></i>
                    </div>

                    <div class="btn car-form-btn" onClick="document.querySelector('form').submit();">
                        <p>Save</p>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

<script th:inline="javascript">
    function goToCars() {
        location.href = "/cars";
    }
</script>

</body>
</html>