<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Car Management System</title>

    <link rel="icon" th:href="@{/img/favicon.ico}"/>
    <link th:href="@{/fonts/css/fontawesome.css}" rel="stylesheet"/>
    <link th:href="@{/fonts/css/solid.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

<div class="outer-panel">
    <div class="inner-panel shadow">
        <h1>Welcome to the Car Management System</h1>

        <a class="download-link" th:href="@{/download/Car Management System.zip}" download="PD4 - Michał Zadrożny">
            <div class="btn">
                <p>Download the code</p>
            </div>
        </a>

        <div class="btn add-car-btn" th:onclick="'javascript:goTo(\'/cars\');'">
            <p>Car list</p>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/goTo.js}"></script>


</body>
</html>